*{
  margin:0;
  padding:0;
}

#banner {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#pic {
  width: 10%;
  height: auto;
}


/* #image0{
  margin: 180px auto;
  width: 200px;
  position: relative;
}
.image0Class{
  width: 100%;
} */
